[failurethreshold]
# Any values below the minimum threshold value or above the maimum threshold value will cause a warning email to be sent
minimum = 21.5
maximum = 22.5

[unit]
# Unit of data being monitored
unit = C

[influx]
# The url for the database server
url = 
# The port for the database
port = 8086
# Credentials
username = 
password = 
# Database name
database = 
tag = 
# Number of most recent data points retrieved 
number = 50

[email]
# Gmail account credentials for account sending warnings
# Leave off @gmail.com (e.g. use gmailsender instead of gmailsender@gmail.com)
sender = 
password = 
# Recipients of the email
# For multiple recipients, list the email addresses with commas and without spaces
recipient = 
# Subject line
subject = Warning failure detected

[outlierfilter]
# Number of standard deviations away from median for the MAD outlier filtering 
deviations = 1